<?xml version='1.0' encoding='utf-8'?>
<plugin id="hkvideoplayer" version="1.0.4" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>hkvideoplayer</name>
    <description>Cordova Device Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device</keywords>

    <js-module src="www/HKVideoPlayer.js" name="HKVideoPlayer" >
        <clobbers target="HKVideoPlayer" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HKVideoPlayer">
                <param name="ios-package" value="HKVideoPlayer" onload="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/HKVideoPlayer.swift" />
    </platform>
</plugin>
